@mixin clearfix{
  &::after{
    content: '';
    display: table;
    clear: both;
  }
}

@mixin animation-fix{
  backface-visibility: hidden; /*fix for right visibility on animation*/
}

@mixin gradient-text($color-1, $color-2, $direction){
  padding: 1px;
  display: inline-block;
  background: linear-gradient($direction, $color-1, $color-2);
  -webkit-background-clip: text;
  color: transparent;
}

@mixin center-element{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


//MEDIA MANAGER

/*
phone :0-600px
tab-port :600-900px
tab-land :900-1200px
big-desc :1800px+
*/

@mixin respond($breakpoint){
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desc {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
