//COLORS
$primary-color-light: #7ed56f;
$primary-color-medium: #55c57a;
$primary-color-dark: #28b485;

$secondary-color-light: #ffb900;
$secondary-color-dark: #ff7730;

$tertiary-color-light: #2998ff;
$tertiary-color-dark: #5643fa;

$dark-gray-color-1: #f7f7f7;

$dark-gray-color-2: #777;
$dark-gray-color-3: #333;
$light-gray-color: #eee;
$white-color: #fff;
$black-color: #000;

//FONT
$default-text-size: 1.6rem;

//GRID

$grid-width: 114rem;
$grid-gutter-vertical: 8rem;
$grid-gutter-vertical-small: 6rem;
$grid-gutter-horizontal: 6rem;