@keyframes moveToLeft {
  0%{
    opacity: 0;
    transform: translateX(-10rem);
  }
  80%{
    transform: translateX(2rem);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveToRight {
  0%{
    opacity: 0;
    transform: translateX(10rem);
  }
  80%{
    transform: translateX(-2rem);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveToTop{
  0%{
    opacity: 0;
    transform: translateY(3rem);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes logoGlitch {
  0%{
    opacity: 1;
  }
  10%{
    opacity: 0;
  }
  15%{
    opacity: 1;
  }
  20%{
    opacity: 0.9;
  }
  30%{
    opacity: 0.5;
  }
  60%{
    opacity: 1;
  }
  90%{
    opacity: 0.1;
  }
  100%{
    opacity: 1;
  }

}