body{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $dark-gray-color-2;

}

.heading-primary{
  color: $white-color;
  text-transform: uppercase;
  margin-bottom: 4rem;
  text-align: left;
  @include animation-fix;
  &--main{
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveToLeft 1s ease-out;
    @include respond(phone){
      font-size: 4rem;
      letter-spacing: 2rem;
    }
  }
  &--sub{
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveToRight 1s ease-out;
    @include respond(phone){
      font-size: 1.2rem;
      letter-spacing: 1.15rem;
    }
  }
}

.heading-secondary{
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
 @include gradient-text($primary-color-light, $primary-color-dark, to right);
  transition: all .2s ease;
  letter-spacing: .2rem;
 // @include animation-fix;
  &:hover{
    transform: skewY(2deg) skewX(10deg) scale(1.1);
    text-shadow: .5rem .5rem 1rem rgba($black-color, .1);
  }

  @include respond(tab-port){
    font-size: 3rem;
  }

}

.heading-tertiary{
  font-size: $default-text-size;
  text-transform: uppercase;
  font-weight: 700;
  @include animation-fix;
}

.paragraph{
  font-size: $default-text-size;
  &:not(:last-child){
    margin-bottom: 3rem;
  }
}